.btnGroup {
    margin: 25px;
    float: right;
}

.btnEditar {
    margin: 25px;
    float: right;
}

.btnAdicionar {
    margin: 25px;
    float: right;
}

.btnLimpar {
    margin: 25px;
    float: right;
}

.btnLeft {
    margin: 15px !important;
    float: left !important;
}

.btnRight {
    margin: 15px !important;
    float: right !important;
}

.btnCenter {
    margin: 15px !important;
    text-align: center !important;
}

.btnRadio {
    margin: 05px;
}

.btnMenuPrincipal {
    margin: 15px;
    float: right;
    display: flex;
    justify-content: flex-end;
}

#btnSalvar {}

.btnGroupConfiguracoes {
    margin-bottom: 15px;
}