.formLogin {
    margin-top: 25%;
}

.cabecalho {
    margin-bottom: 50px;
}

.tituloFormulario {
    margin-top: 25px;
}

.itensFormulario {
    margin-top: 15px;
    margin-bottom: 15px;
}

.avisoDanger {
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 05px;
    padding: 10px;
}

.hrBlack {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
}