.tituloOrdemServico {
    margin: 30px !important;
}

.formulario {
    position: fixed !important;
}

.formularioOrdemServico {
    margin-top: 5px !important;
    border: 1px solid #000 !important;
    padding: 15px !important;
}

.equipamentoServicos {
    margin-top: 30px !important;
}

.condicoesServico {
    margin-top: 15px !important;
    color: red !important;
    font-size: 11px !important;
}

.msgFidelidade {
    margin-top: 15px !important;
    font-size: 11px !important;
}

.dadosCliente, .dadosEquipamento {
    font-size: 13px !important;
}