.avisoOrcamentoRecusado {
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.groupCheckObservacoes{
    text-align: center;
}